.line-graph {
  border: 1px solid lightgray;
}

.line {
  fill: none;
  /* stroke: steelblue; */
  stroke-width: 2px;
}

div.infobox {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
